$position: absolute;
$color: #007bff;
$background-color: lightgray;
.error-msg-style {
  position: $position;
  display: flex;
  padding: 50px 233px;
}
tr:nth-child(even) {
  background-color: $background-color;
}
.display {
  display: flex ;
}

tr:hover {
  background-color: $background-color;
}
.btn-space {
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;

}
.btn-link:hover {
  color: $color;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
}
// .Table_body__wmTaM {
//   background-color: var(--terra-table-body-background-color);
//     flex: 1 1 auto;
//     min-height: 0;
//     overflow: scroll;
//     max-height: 38.6rem !important;
// }

.float-right {
  float: right;
}

.mb-0 {
  margin-bottom: 0px;
}



